@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: .1em;
  color-scheme: light dark;
  color: #333;
  background-color: #ffffff;
}

button, input {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: .1em;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
